@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: Neucha;
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

:root {
  --white: #fff;
  --light: #f5f4f0;
  --dark-50: #908d8b;
  --dark: #2a2626;
  --brown: #b09a81;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --white-50: #d7ccc0;
  --blue: #1085c5;
  --primary-hover: #ea7600;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
a,
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }

a:focus,
a:active {
  outline: none;
}
*/

/*
nav,
footer,
header,
aside { display: block; }
*/

body {
  color: var(--dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

.color-dark {
  color: var(--dark);
}

.color-primary-dark {
  color: var(--primary-dark);
}

.color-white {
  color: var(--white);
}

.color-dark-50 {
  color: var(--dark-50);
}

.color-white-50 {
  color: var(--white-50);
}

.color-brown {
  color: var(--brown);
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.bg-img::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

.bg-light {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.title-main {
  z-index: 10;
}

.img-main {
  position: absolute;
  top: 55px;

  right: -270px;

  height: 525px;
}

.column-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.column {
  width: 50%;
}

.mb-185 {
  margin-bottom: 185px;
}

.btn-header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 149px;
  height: 48px;
  margin-top: 40px;
}

.btn-footer {
  position: relative;

  width: 70px;
  height: 50px;
}

.btn-primary {
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--primary);
}

.btn-hover:hover {
  background-color: var(--primary-hover);
}

.mtb-1em {
  margin: 1em 0;
}

/* ------------------------ */
.drop-shadow {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.center {
  text-align: center;
}

.mtb-30 {
  margin: 30px 0;
}

.mb-negative-200 {
  margin-bottom: -200px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;

  column-gap: 30px;
}

.pt-200 {
  padding-top: 200px;
}

.card {
  width: 350px;
}

.padding-24 {
  padding: 24px;
}

.card-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.mb-16 {
  margin-bottom: 16px;
}

.fs-52 {
  font-size: 52px;
}

.card-link:hover {
  background-color: var(--primary);
}

.card-link:hover .card-title,
.card-link:hover .card-number,
.card-link:hover .card-text {
  color: var(--white);
}

.img-text-container {
  display: flex;

  column-gap: 30px;
}

.text-sub-title {
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.text-p {
  margin-top: 30px;

  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.title {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.background-brown {
  background: #b09a81;
}

.mt-1em {
  margin-top: 1em;
}

.f-container {
  display: flex;
  width: 100%;
}

.mt-55 {
  margin-top: 55px;
}

.mr-55 {
  margin-right: 55px;
}

.ml-55 {
  margin-left: 55px;
}

.mb-55 {
  margin-bottom: 55px;
}

.input-email {
  flex-grow: 1;
  height: 50px;
}

.input-email::placeholder {
  padding-left: 15px;

  color: #757575;
  font-size: 13.1px;

  opacity: 0.2;
}

.submit-email {
  position: relative;

  width: 70px;
  height: 50px;

  background-color: #fe8a02;
  cursor: pointer;
}

.mt-38 {
  margin-top: 38px;
}

.box {
  display: flex;
  margin-top: 9px;
}

.name-input {
  font-size: 18px;
}

.agreement {
  font-size: 12px;
}

.agreement-link {
  text-decoration: #fff underline;
}

.btn-footer::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 20px;
  height: 20px;
  margin: auto;

  background-image: url('../img/send.svg');
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-information {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}

.link {
  text-decoration-line: underline;

  color: #1085c5;
}

.mb-16 {
  margin-bottom: 16px;
}